@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  font-size: 16px;
  font-family: 'Open Sans';
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

.drop-zone {
  align-self: center;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex: 3;
  border: 3px solid #676464;
  box-shadow: 0 0 20px inset;
}

.item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  flex: 3;
  display: flex;
  justify-content: space-around;
}

.result {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setup {
  flex: 1;
}

.output {
  flex: 1;
}

.element-shadow-wraper {
  display: inline-block;
  position: relative;
}

.element-shadow {
  height: 1em;
  width: 1em;
  font-size: 1px;
  position: absolute;
  top: 0;
  left: 0;
}
